.arena {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    margin-top: 10px;
    background: black;
    color: white;
    border: 3px solid black;
}